*{
  box-sizing: border-box;
}

header .header-background{
  height: 50px;
  background-color: #118BC0;
}

h1{
  font-family: fantasy, Arial;
  font-size: 40px;
  color: green;
}

header .wordpress-logo{
  height: 30px;
  width: 7%;
  background-color: #fff;
  margin: 10px 15px;
  float: left;
}

header .wordpress-logo img{
  height: 30px;
  width: 100%;
}

header .wordpress{
  height: 30px;
  width: 25%;
  background-color: #118BC0;
  margin: 10px 0px;
  float: left;
  font-family: sans-serif;
  color: #FFF;
  display: block;
  margin: 15px 0px;
  text-align: center;
  font-weight: lighter;
  font-size: 17px;
}
header span.lighter{
  color: #9DCEE4;
}

header .login{
  background-color: #0070A4;
  height: 50px;
  width: 16.5%;
  border: none;
  float: right;
  font-family: sans-serif;
  color: #FFF;
  font-size: 12px;
}

header .login:focus{
  outline:none;
}

.hero .hero-background{
  margin-top: 0px;
  height:1130px;
  background-image: url(https://github.com/TIY-Austin-Front-End-Engineering/mobile-layout-2/blob/master/images/crowd.jpg?raw=true);
}

.hero .hero-title{
  font-family: 'Helvetica', sans-serif;
  color: #FFFFFF;
  font-size: 30px;
  text-align: center;
  display: block;
  padding-top: 160px;
  margin-bottom: 30px;
  font-weight: normal;
}

.hero .hero-text{
  font-family: 'Helvetica', sans-serif;
  color: #FFFFFF;
  margin: 0 auto;
  text-align: center;
  display: block;
  margin-bottom: 30px;
  font-weight: lighter;
  max-width: 280px;
  margin-bottom: 40px;
}

.hero button.hero-button{
  height: 50px;
  width: 50%;
  background-color: #118BC0;
  border: none;
  box-shadow: 0px 0px 0px 10px rgba(0, 0, 0, .3);
  display: block;
  margin: 0 auto 240px auto;
  font-weight: normal;
  font-size: 22px;
  font-family: sans-serif;
  color: #FFF;

}


.hero button.hero-button:focus{
  outline: none;
}

.hero .hero-scroll{
  height: 20px;
  width: 10%;
  background-color: #FFFFFF;
  margin:0 auto 135px auto;
}

.hero-info .hero-info-box1{
  height: 70px;
  width: 65%;
  background:none;
  margin: 0 auto 30px auto;
  overflow: auto;
}

.hero-info .hero-info-box2{
  height: 70px;
  width: 65%;
  background:none;
  margin: 0 auto 30px auto;
}

.hero-info .hero-info-box3{
  height: 70px;
  width: 65%;
  background:none;
  margin: 0 auto 30px auto;
}

.hero .hero-info .hero-info-box-shadebox1{
  height: 60px;
  width: 17.5%;
  background: none;
  float: left;
  margin: 0px;
  margin-right: 0px;
  margin-top: 10px;
  display: block;

}

.hero .hero-info .hero-info-box-shadebox1 img{
  height: 60px;
  width: 100%;
}

.hero .hero-info .hero-info-box-shadebox2{
  height: 60px;
  width: 80%;
  background:none;
  float: right;
  margin: 0px 4px 10px 0px;
}

.hero .hero-info h1.line1{
  font-family: sans-serif;
  color: #FFF;
  font-size: 18px;
  margin-top: 10px;
  margin-left: 5px;
  font-weight: normal;
}

.hero .hero-info p.line2{
  font-family: sans-serif;
  color: #D5D6D7;
  font-size: 14px;
  margin: 0px;
  margin-left: 5px;
}

.info .info-description-background{
  height: 190px;
  background-color: #E8F0F5;
  padding: 25px;
}

.info .info-description-background h1.info-description-text{
  font-family: sans-serif;
  color: #314156;
  font-size: 22px;
  font-weight: lighter;
  margin: 0px auto;
  text-align: center;
  display: block;
}

.info .info-description-text div.whitespace{
  margin: 10px 0px;
}

.info div.whitespace{
  margin: 10px auto;
  text-align: center;
  display: block;
}

.info h1.info-heading{
  font-family: sans-serif;
  color: #426277;
  font-size: 20px;
  font-weight: normal;
  margin: 0px auto;
  text-align: center;
  display: block;
}

.info .info-text{
  font-family: sans-serif;
  color: #4B4B4C;
  font-size: 16px;
  font-weight: normal;
  margin: 0px auto;
  text-align: center;
  display: block;
}

.info .info-background{
  height:1680px;
  background-color: #D1D3D7;
  padding-top: 30px;
}

.info .info-box1{
  height:240px;
  width: 97%;
  background-color: #FFFFFF;
  margin: 30px auto;
}

.info .info-box2{
  height:240px;
  width: 97%;
  background-color: #FFFFFF;
  margin: 30px auto;
}

.info .info-box3{
  height:240px;
  width: 97%;
  background-color: #FFFFFF;
  margin: 30px auto;
}

.info .info-box4{
  height:240px;
  width: 97%;
  background-color: #FFFFFF;
  margin: 30px auto;
}

.info .info-box5{
  height:240px;
  width: 97%;
  background-color: #FFFFFF;
  margin: 30px auto;
}

.info .info-box6{
  height:240px;
  width: 97%;
  background-color: #FFFFFF;
  margin: 30px auto;
}

.info .info-box-imagebox{
  height: 65px;
  width: 14.25%;
  margin: 20px 0px 10px 42.875%;
  background-color: #D1D3D7;
  border-radius: 100%;
  float: left;
}

.info .info-box-imagebox img{
  height: 32.25px;
  width: 50%;
  margin: 20px  25% 0 0;
  float: right;
}

.info .info-box-articlebox{
  height: 25px;
  width: 93%;
  margin: 0px 0px 15px 3.5%;
  background: none;
  float: left;
}

.info .info-box-paragraphbox{
  height: 50px;
  width: 93%;
  margin: 0px 0px 0px 3.5%;
  background:none;
  float: left;
  text-align: center;
  color: #4B4B4C;
}

.action .action-background{
  height: 170px;
  background-color: #E8F0F5;
  padding-top:20px;
  width: 100%;
  color: #314156;
  font-size: 22px;
  font-family: sans-serif;
  font-weight: lighter;
  display: block;
  float: left;
  text-align: center;
}

.action, footer{
  overflow: auto;
}
.action button.action-button{
  width: 45%;
  height: 50px;
  background-color: #118BC0;
  margin: 50px auto;
  border: none;
  font-family: sans-serif;
  color: #FFF;
  font-size: 22px;
  margin: 50px 25%;
}

.action button.action-button:focus{
  outline: none;
}

.closer .closer-background{
  height: 130px;
  padding-top: 30px;
  background-color: #000000;
}

.closer .closer-text{
  font-family: 'Helvetica', sans-serif;
  display:block;
  color: #FFFFFF;
  text-decoration: none;
  text-align: center;
  margin-bottom: 10px;
}

.closer .closer-text a{
  font-family: 'Helvetica', sans-serif;
  text-decoration: none;
  color: #FFFFFF;
  font-size: 10px;
  margin: 2.5%;
}

.closer .closer-logo-box{
  height: 25px;
  width: 30%;
  background-color: #FFFFFF;
  margin: 0 auto;
}

.closer .closer-logo-box img{
  height: 25px;
  width: 100%;
}

.closer .closer-logo-box .logo-name{
  text-indent: -9999999px;
}
